<!DOCTYPE html>
<html lang="es">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QroFind</title>
    <!-- Latest compiled and minified CSS -->
    <!--MATERIAL-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-blue.min.css"/>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!--End MATERIAl-->

    <link rel="stylesheet" href="{% static 'css/utils.css' %}">

    {% block custom_statics %}

    {% endblock %}
</head>
<body>
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <a href="/" class="mdl-layout-title">
                <img src="{% static 'img/logo.png' %}" width="50px" class="img-responsive">
            </a>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                {% for zona in zonas %}
                    <a class="mdl-navigation__link" href="{% url 'main:index' slug_zona=zona.slug %}">{{ zona }}</a>
                {% endfor %}
            </nav>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
                <label class="mdl-button mdl-js-button mdl-button--icon"
                       for="fixed-header-drawer-exp">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <form action="#">
                        <input class="mdl-textfield__input" type="text" name="sample"
                               id="fixed-header-drawer-exp">
                    </form>
                </div>
            </div>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">QroFind</span>
        <nav class="mdl-navigation">
             {% for zona in zonas %}
                    <a class="mdl-navigation__link" href="{% url 'main:index' slug_zona=zona.slug %}">{{ zona }}</a>
                {% endfor %}
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content"><!-- Your content goes here --></div>
    </main>
</div>

<div class="container">
    {% block content_home %}

    {% endblock %}
</div>
</body>
</html>