<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load thumbnail %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TuZONA.mx</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/utils.css' %}">
    <!--MATERIAL-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"/>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!--End MATERIAl-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% static 'negocios/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/ver_tel_nopremium.js' %}"></script>
    <script src="{% static 'js/show_menu.js' %}"></script>
    <style>
        #menu-movil, #menu-desktop {
            display: none;
        }

        .mdl-navigation__link {
            font-weight: bold;
            text-transform: uppercase;
        }
    </style>
    {% block custom_statics %}

    {% endblock %}
</head>
<body style="background-color: rgba(192, 192, 192, 0.82)">
<div class="mdl-layout mdl-js-layout
            mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <a href="/" class="mdl-layout-title">
                <img src="{% static 'img/logo.png' %}" width="50px" class="img-responsive">
            </a>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
                <label class="mdl-button mdl-js-button mdl-button--icon"
                       for="fixed-header-drawer-exp">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <form action="#">
                        <input class="mdl-textfield__input" type="text" name="sample"
                               id="fixed-header-drawer-exp">
                    </form>
                </div>
            </div>
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="">Está buscando en {{ zona }}</a>
                <a class="mdl-navigation__link" href="{% url 'negocios:promociones' %}">Promociones</a>
                <a class="mdl-navigation__link" href="{% url 'negocios:anunciate' %}">Anúnciate</a>

            </nav>
        </div>
        <div class="mdl-layout__header-row mdl-layout--no-desktop-drawer-button mdl-layout--large-screen-only">
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                {% for categoria in categorias %}
                    <a class="mdl-navigation__link"
                       href="{% url 'negocios:negocios_categorias' slug_categoria=categoria.slug%}">
                        {{ categoria.nombre }}
                    </a>
                {% endfor %}
                <!-- Right aligned menu below button -->
                <button id="demo-menu-lower-right"
                        class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                </button>

                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    for="demo-menu-lower-right">
                    {% for restante in categorias_restantes %}
                        <li class="mdl-menu__item">
                            <a href="{% url 'negocios:negocios_categorias' slug_categoria=restante.slug %}">
                                {{ restante.nombre }}
                            </a>
                        </li>
                    {% endfor %}

                </ul>

            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">QroFind</span>
        <nav class="mdl-navigation">
            {% for categoria in categorias %}
                <a class="mdl-navigation__link"
                   href="{% url 'negocios:negocios_categorias' slug_categoria=categoria.slug%}">
                    {{ categoria.nombre }}
                </a>
            {% endfor %}
            {% for categoria in categorias_restantes %}
                <a class="mdl-navigation__link"
                href="{% url 'negocios:negocios_categorias' slug_categoria=categoria.slug%}">{{ categoria.nombre }}</a>
            {% endfor %}
        </nav>
    </div>

    <main class="mdl-layout__content">
        <div class="page-content">
            {% block container %}

            {% endblock %}
        </div>
        <footer>
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <p class="txt-center"> Todos los derechos reservados 2017</p>
                </div>
            </div>
        </footer>
    </main>
</div>


</body>
</html>