{% extends 'base_index.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load texto %}
{% block custom_statics %}
    <link rel="stylesheet" type="text/css" href="{% static 'negocios/vendors/slick/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'negocios/vendors/slick/slick/slick-theme.css' %}"/>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'negocios/vendors/slick/slick/slick.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#image-thumbs').slick({
                infinite: true,
                slidesToShow: 4,
            });
        });
    </script>
    <style>

        #image-thumbs {
            margin-top: 45px;
            margin-bottom: 25px;
        }
    </style>
{% endblock %}
{% block content_home %}
    <p><b>{{ articulo.titulo }}</b></p>
    <p>{{ articulo.zona }}</p>
    <p>{{ articulo.fecha }}</p>
    <img src="{{ articulo.imagen.url }}" class="img-responsive" alt="{{ articulo.titulo }}">
    <p class="mt10">
        {% autoescape off %}
            {% texto articulo.descripcion_larga %}
        {% endautoescape %}

    </p>
    <div id="image-thumbs">
        {% for imagen in articulo.imagenes.all %}
            <a class="mr10" href="{{ imagen.imagen.url }}" target="_blank">
                <img src="{{ imagen.imagen.url }}" height="250px"/>
            </a>
        {% endfor %}
    </div>
{% endblock %}
