{% extends 'base.html' %}
{% load staticfiles %}
{% block custom_statics %}
    <link rel="stylesheet" type="text/css" href="{% static 'negocios/vendors/slick/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'negocios/vendors/slick/slick/slick-theme.css' %}"/>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'negocios/vendors/slick/slick/slick.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <script>
        $(document).ready(function () {
            $('.item-banner-nacional').slick({
                infinite: true,
                slidesToShow: 1,
                autoplay: true,
                autoplaySpeed: 2000
            });
            $(function () {
                $('#id_email').attr('placeholder', 'Correo electrónico');
            });
        });
    </script>
    <style>

    </style>
{% endblock %}
{% block container %}
    <h4>Negocios Destacados</h4>
    <div class="mdl-grid">
        {% for negocio in negocios_premium %}
                        {% include 'negocio/item_negocio.html' with negocio=negocio %}

        {% endfor %}

    </div>
    <h4>{{ primera_subcategorias_inicio }}</h4>
    <div class="mdl-grid">
        {% for negocio in negocios_primera_subcategoria %}
            {% include 'negocio/item_negocio.html' with negocio=negocio %}
        {% endfor %}

    </div>
    <h4>{{ segunda_subcategorias_inicio }}</h4>
    <div class="mdl-grid">
        {% for negocio in negocios_segunda_subcategoria %}
            {% include 'negocio/item_negocio.html' with negocio=negocio %}
        {% endfor %}

    </div>
{% endblock %}
