{% load thumbnail %}

<div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <img src="{{ articulo.imagen|thumbnail_url:'thumb_negocio' }}" alt="{{ articulo.titulo }}">
        <div class="caption">
            <h4 class="titulo-negocio-thumbs">{{ articulo }}</h4>
            <p class="">{{ articulo.zona }}</p>
            <p class="desc-negocio-thumbs">{{ articulo.descripcion_corta }}</p>
            <a href="{% url 'main:detalle_articulo' slug_articulo=articulo.slug %}">Leer m&aacute;s</a>
        </div>
    </div>
</div>