{% extends 'base_index.html' %}
{% load staticfiles %}
{% block custom_statics %}
    <link rel="stylesheet" href="{% static 'negocios/css/categorias.css' %}">
    <script>
        $(function () {
            $('.titulo-promocion:even').css("background-color", "#ED1C24");
            $('.titulo-promocion:odd').css("background-color", "#3871C1");
        })
    </script>
{% endblock %}
{% block content_home %}
    <section id="contenedor-promociones" class="row">

        {% if promociones|length > 0 %}
            <h2>PROMOCIONES ACTIVAS</h2>
            <div class="row">
                {% for promocion in promociones %}
                    {% include 'negocio/item_promocion.html' with promocion=promocion %}
                {% endfor %}
            </div>
        {% else %}
            <h2>NO HAY NEGOCIOS PROMOCIONADOS</h2>

        {% endif %}
    </section>
{% endblock %}