{% extends 'base.html' %}
{% load staticfiles %}
{% block custom_statics %}
{% endblock %}
{% block container %}
    <section id="contenedor-resultados" class="row">
        <p>Se encontraron <strong>{{ cantidad_negocios }} </strong> coincidencias con <strong>{{ texto }}</strong>
        </p>

        {% if negocios|length > 0 %}
            {% for negocio in negocios %}
                {% include 'negocio/item_negocio.html' with negocio=negocio chico=0 %}
            {% endfor %}
        {% else %}
            <h3 class="col-md-12">NO hay resultados que mostrar</h3>
        {% endif %}
    </section>
{% endblock %}