#contenedor-subcategorias{
    margin-top:25px;
    margin-bottom:25px;
    margin-left:10px;
}
.item-subcategoria{
    /*width: 24%;*/
    padding:10px;
    border:solid 1px #000;
    text-align: center;
    margin-bottom:10px;
    margin-right: 10px;
    text-transform: uppercase;
}
.item-subcategoria a{
    color: #000;
}
#contenedor-categorias h2, #contenedor-promociones h2{
    margin-bottom: 25px;
}

/*promociones*/


.titulo-promocion{
    height: 20px;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    margin-bottom:3px;
}

.categoria-negocio-promocion{
    text-transform: uppercase;
    color: grey;
    font-weight: bold;
}
.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {
    background-color: rgba(135, 135, 135, 0.50);
}
