.redes-sociales-negocio {
    margin-left: 0 !important;
}

#image-thumbs, #image-thumbs-chicas {
    margin-bottom: 25px;
}

.slick-prev, .slick-next {
    background-color: #5c5c5c !important;
}

#mapa {
    width: 98%;
    height: 200px;
    text-align: center;
}

#contenedor-negocio p {
    font-size: 1.2em;
}

.container-info-negocio {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 10px;
}
.card-70 {
    width: 70%;
}

.card-25 {
    width: 25%;
}

.mr25 {
    margin-right: 25px;
}

.pt10 {
    padding-top: 10px;
}