{% extends 'base_index.html' %}
{% block anunciate %}
{#    <div class="row text-center">#}
{#        <h4>#}
{#            El 98% de la gente de Zona Real tiene un Smartphone y acceso a internet</h4>#}
{#        <h4>Un directorio que SI puedes llevar contigo a todos lados</h4>#}
{#        <h4>Hay que cuidar el planeta y nuestros árboles</h4>#}
{##}
{#    </div>#}
    <div class="row bg-azul-claro txt-blanco pd15">
        <h3>¿Quieres exisitir en T&uacute; Zona?</h3>
        <div class="col-sm-12 col-md-6">
            <h4>
                Suscríbete al Directorio PREMIUM
                de T&uacute; Zona
            </h4>
            <ul>
                <li>
                    Prescencia en Directorio T&uacute; Zona con:
                </li>
                <li>
                    - Nombre y Logo
                </li>
                <li>
                    - Teléfono
                </li>
                <li>
                    - Dirección
                </li>
                <li>
                    - Horarios
                </li>
                <li>
                    - Ubicación en el mapa
                </li>
                <li>
                    - Fotos
                </li>
                <li>
                    - Promociones
                </li>
                <li>
                    - Menú / Productos / Servicios
                </li>
                <li>
                    - Servicios Adicionales
                </li>
                <li>
                    - Actualiza tu perfil
                </li>
                <li>
                    - Enlaces a tus Redes sociales
                </li>
                <li>
                    - Enlaces a tu Pag. Web
                </li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-6">
            {% if mensaje != None %}
                <h3>{{ mensaje }}</h3>
            {% endif %}
            <form id="anunciate-form" action="{% url 'negocios:anunciate' %}" method="POST"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            {{ form.nombre }}
                            {{ form.nombre.error_messages }}
                        </div>
                        <div class="form-group">
                            {{ form.email }}
                            {{ form.email.error_messages }}
                        </div>
                        <div class="form-group">
                            {{ form.nombre_negocio }}
                            {{ form.nombre_negocio.error_messages }}
                        </div>

                        <div class="form-group">
                            {{ form.telefono }}
                            {{ form.telefono.error_messages }}
                        </div>
                        <div class="form-group">
                            {{ form.direccion }}
                            {{ form.direccion.error_messages }}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="form-group">
                            {{ form.mensaje }}
                            {{ form.mensaje.error_messages }}
                        </div>
                        <button class="btn btn-default">Enviar</button>

                    </div>
                </div>


            </form>
        </div>
    </div>
{% endblock %}