{% extends 'base.html' %}
{% load staticfiles %}
{% block custom_statics %}
    <link rel="stylesheet" href="{% static 'negocios/css/categorias.css' %}">
    <script>
        jQuery(document).ready(function () {
            var offset = 220;
            var duration = 500;
            jQuery(window).scroll(function () {
                if (jQuery(this).scrollTop() > offset) {
                    jQuery('.back-to-top').fadeIn(duration);
                } else {
                    jQuery('.back-to-top').fadeOut(duration);
                }
            });

            jQuery('.back-to-top').click(function (event) {
                event.preventDefault();
                jQuery('html, body').animate({scrollTop: 0}, duration);
                return false;
            })
        });
    </script>
{% endblock %}
{% block container %}
    <section id="contenedor-categorias">
        <div id="contenedor-subcategorias">
            {% for subcategoria in subcategorias %}
                <span class="mdl-chip">
                    <span class="mdl-chip__text">
                        <a href="#{{ subcategoria.slug }}">{{ subcategoria }}</a>
                    </span>
                </span>
            {% endfor %}
            <div class="clearfix"></div>
        </div>
        {% if negocios_promocionados|length > 0 %}
            <h4>NEGOCIOS PROMOCIONADOS</h4>
            <div class="mdl-grid">
                {% for negocios_promocionado in negocios_promocionados %}
                    {% include 'negocio/item_negocio.html' with negocio=negocios_promocionado %}
                {% endfor %}
            </div>

        {% endif %}

        {% if categoria.slug == "servicio-a-domicilio" %}
            {% for subcategoria in subcategorias %}
                <h3 id="{{ subcategoria.slug }}">{{ subcategoria }}</h3>
            <div class="mdl-grid">
                    {% if subcategoria.negocios.all|length > 0 %}
                        {% for negocio in subcategoria.get_negocios_ordenados %}
                            {% if negocio.servicio_domicilio %}
                                {% include 'negocio/item_negocio.html' with negocio=negocio%}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <h3 class="col-md-12">NO hay productos en esta categoría</h3>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}

        {% if categoria.slug != "servicio-a-domicilio" %}
            {% for subcategoria in subcategorias %}
                <h3 id="{{ subcategoria.slug }}">{{ subcategoria }}</h3>
            <div class="mdl-grid">
                    {% if subcategoria.negocios.all|length > 0 %}
                        {% for negocio in subcategoria.get_negocios_ordenados %}
                            {% include 'negocio/item_negocio.html' with negocio=negocio%}
                        {% endfor %}
                    {% else %}
                        <h3 class="col-md-12">NO hay productos en esta categoría</h3>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}

        <a href="#" class="back-to-top">Ir hasta arriba</a>
    </section>
{% endblock %}