{% extends 'base.html' %}
{% load staticfiles %}
{% load texto %}
{% load thumbnail %}
{% block custom_statics %}
    <link rel="stylesheet" href="{% static 'negocios/css/detalle_negocio.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'negocios/vendors/slick/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'negocios/vendors/slick/slick/slick-theme.css' %}"/>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'negocios/vendors/slick/slick/slick.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'negocios/js/registro_visita_premium.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#image-thumbs').slick({
                infinite: true,
                slidesToShow: 3,
                variableWidth: true,

            });
            $('#image-thumbs-chicas').slick({
                infinite: true,
                slidesToShow: 4,
                variableWidth: true
                //mobileFirst: true

            });
        });
    </script>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('mapa'), {
                center: {lat: {{ negocio.position.latitude }}, lng: {{ negocio.position.longitude }}},
                zoom: 15
            });
            var marker = new google.maps.Marker({
                position: {lat: {{ negocio.position.latitude }}, lng: {{ negocio.position.longitude }}},
                map: map
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOz4zaULN_RwxekItfLBMqXNm6ilcjIB4&callback=initMap"
            async defer></script>
{% endblock %}
{% block container %}
    <div id="image-thumbs">
        <a class="mr10" href="{{ negocio.imagen_principal.url }}" target="_blank">
            <img src="{{ negocio.imagen_principal.url }}" height="300px">
        </a>
        {% for imagen in negocio.imagenes_amplias.all %}
            <a class="mr10" href="{{ imagen.imagen.url }}" target="_blank">
                {#                    <img src="{{ imagen.imagen|thumbnail_url:'thumb_575_550' }}"/>#}
                <img src="{{ imagen.imagen.url }}" height="300px">

            </a>
        {% endfor %}
    </div>
    <section class="container-info-negocio">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp card-70 mr25">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text bold">{{ negocio.nombre }}</h2>
                <hr>
            </div>
            <div class="mdl-card__supporting-text">
                <p>{{ negocio.descripcion }}</p>
            </div>
        </div>
        <div class="demo-card-wide mdl-card mdl-shadow--2dp card-25 pt10">
            <div class="mdl-card__supporting-text">
                <label class="bold">
                    TEL&Eacute;FONOS
                </label>
                <p>{{ negocio.telefono1 }}</p>
                {% if negocio.telefono2 != None %}
                    <p>{{ negocio.telefono2 }}</p>
                {% endif %}
                {% if negocio.telefono3 != None %}
                    <p>{{ negocio.telefono3 }}</p>
                {% endif %}
                {% if negocio.telefono4 != None %}
                    <p>{{ negocio.telefono4 }}</p>
                {% endif %}
                <label class="bold">DIRECCI&Oacute;N</label>
                {% autoescape off %}
                    <p>{% texto negocio.direccion %}</p>
                {% endautoescape %}
                <label class="bold">HORARIO</label>
                {% autoescape off %}
                    <p>{% texto negocio.horario %}</p>
                {% endautoescape %}
                {% if negocio.pagina_web != "" %}
                    <a class="disp-block txt-negro mb15" href="{{ negocio.pagina_web }}"
                       target="_blank">{{ negocio.pagina_web }}</a>
                {% endif %}
                {% if negocio.servicios.all|length > 0 %}
                    <label class="bold">SERVICIOS</label><br>
                    {% for servicio in negocio.servicios.all %}
                        <span class="mdl-chip">
                            <span class="mdl-chip__text">
                                <a href="#{{ servicio }}">{{ servicio }}</a>
                            </span>
                         </span>
                    {% endfor %}
                {% endif %}
                <ul class="redes-sociales-negocio mb15 pl0">
                    {% if negocio.facebook_url != "" %}
                        <li class="pull-left mr10">
                            <a href="{{ negocio.facebook_url }}" target="_blank">
                                <img src="{% static 'negocios/img/facebook.png' %}" width="40px">
                            </a>
                        </li>
                    {% endif %}
                    {% if negocio.twitter_url != "" %}
                        <li class="pull-left mr10">
                            <a href="{{ negocio.twitter_url }}" target="_blank">
                                <img src="{% static 'negocios/img/Twitter-Icon.png' %}" width="40px">
                            </a>
                        </li>
                    {% endif %}
                    {% if negocio.instagram_url != "" %}
                        <li class="pull-left mr10">
                            <a href="{{ negocio.instagram_url }}" target="_blank">
                                <img src="{% static 'negocios/img/instagram.png' %}" width="40px">
                            </a>
                        </li>
                    {% endif %}
                    {% if negocio.google_plus_url != "" %}
                        <li class="pull-left mr10">
                            <a href="{{ negocio.google_plus_url }}" target="_blank">
                                <img src="{% static 'negocios/img/GooglePlus-icon.png' %}" width="40px">
                            </a>
                        </li>
                    {% endif %}
                    {% if negocio.yotutbe_url != "" %}
                        <li class="pull-left mr10">
                            <a href="{{ negocio.yotutbe_url }}" target="_blank">
                                <img src="{% static 'negocios/img/YouTube-Icon.png' %}" width="40px">
                            </a>
                        </li>
                    {% endif %}
                    <div class="clearfix"></div>
                </ul>
            </div>
        </div>

        <div class="demo-card-wide mdl-card mdl-shadow--2dp card-25 mt10">
            {% if negocio.position != None %}
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Ubícanos</h2>
                    <hr>
                </div>
                <div id="mapa">
                </div>
            {% endif %}
        </div>
    </section>

{% endblock %}