{% load thumbnail %}
<div class="mdl-cell mdl-cell--3-col  mdl-cell--12-col-phone">
    <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__media" style="background-image:
                url('/media/{{ negocio.imagen_principal }}');background-size: cover">

        </div>
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">{{ negocio.nombre }}</h1>
        </div>
        <div class="mdl-card__supporting-text">
            <p>{{ negocio.descripcion_corta }}</p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            {% if negocio.es_premium %}
                <a href="{% url 'negocios:detalle_negocio' slug_negocio=negocio.slug %}"
                   class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Perfil negocio
                </a>

                <div class="mdl-layout-spacer"></div>
                <a href="tel:{{ negocio.telefono1 }}" class="mdl-button mdl-button--icon mdl-button--colored">
                    <i class="material-icons">phone</i>
                </a>
                <a
                        class="mdl-button mdl-button--icon mdl-button--colored"
                        target="_blank"
                        href="https://www.google.com/maps?q={{ negocio.position.latitude }},{{ negocio.position.longitude }}">
                    <i class="material-icons">place</i>
                </a>
            {% else %}
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                  <i class="material-icons">phone</i>
                    {{ negocio.telefono1 }}
                </a>
            {% endif %}
        </div>

    </div>
</div>
