{% load thumbnail %}

<div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <a href="{% url 'negocios:detalle_negocio' slug_negocio=promocion.negocio.slug %}" title="{{ promocion.negocio.slug }}">
            <div class="titulo-promocion">{{ promocion.titulo }}</div>
            <img src="{{ promocion.imagen|thumbnail_url:'thumb_negocio' }}" alt="{{ promocion }}">
            <div class="caption">
                <h4><b>{{ promocion.negocio }}</b></h4>
                {% for subcategoria in promocion.negocio.sub_categoria.all|slice:":1" %}
                    <p class="categoria-negocio-promocion">{{ subcategoria }}</p>
                {% endfor %}
                <p>{{ promocion.texto }}</p>
                <p>Tel: {{ promocion.negocio.telefono }}</p>
            </div>
        </a>
    </div>
</div>