{% extends 'base.html' %}
{% load staticfiles %}
{% block custom_statics %}
    <link rel="stylesheet" href="{% static 'negocios/css/categorias.css' %}">
    <script>
        $(function () {
            $('.titulo-promocion:even').css("background-color", "#ED1C24");
            $('.titulo-promocion:odd').css("background-color", "#3871C1");
        })
    </script>
{% endblock %}
{% block container %}
    <section id="contenedor-promociones" class="row">
        <section id="banner-subcategoria">
            {% if banner|length > 0 %}
                {% for imagen in banner %}
                    {% if imagen.link != "" and imagen.pagina_externa == True %}
                        <a href="{{ imagen.link }}" target="_blank">
                    {% endif %}
                    {% if imagen.link != "" and imagen.pagina_externa == False %}
                        <a href="{{ imagen.link }}" target="_blank">
                    {% endif %}
                <img src="{{ imagen.imagen.url }}" class="" width="100%" height="300px" title="Banner">
                    {% if imagen.link != "" %}
                        </a>
                    {% endif %}
                {% endfor %}

            {% endif %}
        </section>

        {% if promociones|length > 0 %}
            <h2>PROMOCIONES ACTIVAS</h2>
            <div class="row">
                {% for promocion in promociones %}
                    {% include 'negocio/item_promocion.html' with promocion=promocion %}
                {% endfor %}
            </div>
        {% else %}
            <h2>NO HAY NEGOCIOS PROMOCIONADOS</h2>

        {% endif %}

        {% for subcategoria in subcategorias %}
            <h3 id="{{ subcategoria.slug }}">{{ subcategoria }}</h3>
            <div class="row">
                {% if subcategoria.negocios.all|length > 0 %}
                    {% for negocio in subcategoria.negocios.all %}
                        {% include 'negocio/item_negocio.html' with negocio=negocio chico=0 %}
                    {% endfor %}
                {% else %}
                    <h3 class="col-md-12">NO hay productos en esta categoría</h3>
                {% endif %}
            </div>
        {% endfor %}

    </section>
{% endblock %}