.bg-header-green{
    background-color: #008a1d
}.bg-header-green-dark{
    background-color: #006a1a
}
.bg-azul-claro{
    background-color: #007BFF
}
.bg-red{
    background-color: #c6000f;
}
.txt-azul{
    color: #007BFF;
}
.txt-negro{
    color: #000;
}
.txt-blanco{
    color: #fff;
}