#contenedor-index .col-md-3 {
    padding-right: 0;
}

#contenedor-index .col-md-9 {
    padding-left: 0;
}

.mdl-card__media {
    margin: 0;
    width: 100%;
    height: 250px;
}

.mdl-card__supporting-text {
    padding-top: 0;
    padding-bottom: 0;
}

.mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.mdl-card {
    width: 98%!important;
}

.mdl-card__actions > .mdl-button--icon {
    margin-right: 3px;
    margin-left: 3px;
}