/*@media only screen and (max-width: 900px) {*/
/*.header {*/
/*height: 250px;*/
/*margin-bottom:150px;*/
/*}*/
/*}*/

/*@media only screen and (max-width: 900px) {*/
/*.header {*/
/*height: 250px;*/
/*margin-bottom:150px;*/
/*}*/
/*}*/

.header {
    padding: 5px;
}

#container-header, #container-menu {
    width: 100%;
    display: table;
}

.bloq-dcho, .bloq-izdo {
    display: table-cell;

}

.bloq-central {
    width: 1170px;
    display: table-cell;
}

.btn-search {
    height: 27px;
    padding: 0 20px;
}

.mdl-card__media {
    margin: 0;
    width: 100%;
    height: 250px;
}

.mdl-card__supporting-text {
    padding-top: 0;
    padding-bottom: 0;
}

.mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.mdl-card {
    width: 98%;
}

.mdl-card__actions > .mdl-button--icon {
    margin-right: 3px;
    margin-left: 3px;
}