.mt10{
    margin-top: 10px;
}.mt5{
    margin-top: 5px;
}
 .pd5{
     padding:5px;
 }
 .pd15{
     padding:15px;
 }
 .mr10{
     margin-right: 10px;
 }
 .mb35{
     margin-bottom:35px;
 }
 .mb20{
     margin-bottom:20px;
 }
 .pl0{
     padding-left: 0!important;
 }
 .mb15{
    margin-bottom:15px;
}
 .disp-block{
     display: block;
 }
 .disp-inline{
     display: inline;
 }
 .fn1-1{
         font-size: 1.1em!important;
 }
 .fn12{
     font-size: 12px!important;
 }
 .bold{
     font-weight: bold;
 }
 .txt-blanco{
     color: #ffffff;
 }
 .txt-center{
     text-align: center;
 }